h1, h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
};

h3, h4, h5, h6, li, p, nav, .navbar, .navbar-brand {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

body {
    background-color: blanchedalmond;
}